#!/usr/bin/env bash

set -a

# Environment variables

NODE_VERSION="$(npm -s run nodeversion)"
NPM_VERSION="$(npm -s run npmversion)"
GIT_COMMIT_SHORT_SHA=$(git rev-parse --short HEAD)
PACKAGE_VERSION="$(npm -s run version)"
VERSION="${PACKAGE_VERSION}-${GIT_COMMIT_SHORT_SHA}"

# End

if [[ -f ./.envrc.local && -r ./.envrc.local ]]; then
  source ./.envrc.local
fi

set +a
